@model LoginModel

<div class="authBlock">
    <h1>Авторизация</h1>
    <form asp-controller="User" asp-action="Login" asp-anti-forgery="true">
        <table>
            <tr>
                <td><label asp-for="Email" ></label></td>
                <td><input asp-for="Email" /></td>
            </tr>
            <tr>
                <td><label asp-for="Password"></label></td>
                <td><input asp-for="Password" /></td>
            </tr>
        </table>
        <button type="submit">Войти</button>
    </form>
    <h3>Вы ещё не зарегистрированы?</h3>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}