@model AuthorizationModel

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device-width, initial-scale=1.0">
	<meta htttp-equiv="X-UA-Compatible" content="IE=edge">
	<title>ИТ-ДНЕВНИК</title>
	<link rel="stylesheet" href="~/css/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
</head>
<body>
	<div class="forms">
		<div class="containerAR">
            <table>
                <tr>
                    <td><partial name="_LoginPartial" model=Model.LoginModel /></td>
                </tr>
                <tr>
                    <td><partial name="_RegistrationPartial" model=Model.RegistrationModel /></td>
                </tr>
            </table>
		</div>
	</div>
</body>
</html>