<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device-width, initial-scale=1.0">
	<meta htttp-equiv="X-UA-Compatible" content="IE=edge">
	<title>ИТ-ДНЕВНИК</title>
	<link rel="stylesheet" href="style/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
</head>
<body>
<header style="	justify-content: space-between;">
		<i style="font-size: 36px; color: #7E8EFF; align-self: center;">Личный кабинет</i>
		<div class="logImg" style="background-image: url(img/logo.svg);"></div>
		<a href="index.html" class="button">Главная</a>
</header>
<div class="forms">
	<div>
		<div class="profile">
			<div class="avatar" style="background-image: url(img/logo.svg);"></div>
				<div class="info">
				<h1 id="FIO">ФИО</h1><p>
				<h2 id="chclass">4б</h2><p>
				<h2 id="date">20.06.2020</h2><p>
				</div>
		</div>
		<h1 id="emailTo">hunterevgeha@mail.ru</h1>
		<a href="index.html" class="button">Выйти</a>
	</div>
</div>
<script src="js/script.js"></script>
</body>
</html>